<html>


<body>
    <link rel = "stylesheet" href = "css/styles.css">
    <img src = "Monash_Header.jpg" />
    
    <h1> Add Task</h1> </br>
    <h1>
        <a href="/">Add Developer</a>
        <a href="/getdevelopers"> List Developers</a>
        <a href="/addtask"> Add Task</a>
        <a href="/gettasks"> List Tasks</a>
        <a href="/deletetask"> Delete Task</a>
        <a href="/deletecomplete"> Delete Complete Tasks</a>
        <a href="/updatetask"> Update Task</a>

    </h1>
    <form action="/addnewtask" method="POST">
        Task Name <input type="text" method="POST" name="tname" /> </br>
        Assign Developer ID <input type="text" method="POST" name="tdevid" /></br>
        Due Date <input type="date" method="POST" name="tdate" /></br>
        Status
        <select method="POST" name="tstatus">
            <option value="InProgress">InProgress</option>
            <option value="Complete">Complete</option>
        </select>
        </br>
        Description <input type="text" method="POST" name="tdesc" /> </br>
       
        <input type="submit" value="Submit" /> </br>

    </form>
</body>
</html>