<html>



<body>
    <link rel = "stylesheet" href = "css/styles.css">
    <img src = "Monash_Header.jpg" />
    
    <h1> Delete Completed Tasks</h1> </br>
    <h1>
        <a href="/">Add Developer</a>
        <a href="/getdevelopers"> List Developers</a>
        <a href="/addtask"> Add Task</a>
        <a href="/gettasks"> List Tasks</a>
        <a href="/deletetask"> Delete Task</a>
        <a href="/deletecomplete"> Delete Complete Tasks</a>
        <a href="/updatetask"> Update Task</a>
    </h1>
    <form action="/deletecompletedata" method="POST">
        Are you sure you want to delete all completed tasks?
        <input type="submit" value="Yes I am sure" /> </br>
    </form>


</body>
</html>