<html>
<head>
    <head>
        <style>
            table, th, td {
            border: 1px solid black;
            }
        </style>
    </head>
    <link rel="stylesheet" href="css/styles.css">
</head>



<body>
    <link rel = "stylesheet" href = "css/styles.css">
    <img src = "Monash_Header.jpg" />
    
    <h1> List Tasks</h1> </br>
    <h1>
        <a href="/">Add Developer</a>
        <a href="/getdevelopers"> List Developers</a>
        <a href="/addtask"> Add Task</a>
        <a href="/gettasks"> List Tasks</a>
        <a href="/deletetask"> Delete Task</a>
        <a href="/deletecomplete"> Delete Complete Tasks</a>
        <a href="/updatetask"> Update Task</a>
    </h1>

    
    <table style = "width: 90%">
            <tr>
                <td>Task ID</td>
                <td>ID of Developer Assigned</td>
                <td>Due Date</td>
                <td>Status</td>
                <td>Description</td>

            </tr>
            
            <% for (let i=0;i<taskDb.length;i++){ %>
                <tr>
                    <td> <%= taskDb[i]._id %> </td>
                    <td> <%= taskDb[i].assign %> </td>
                    <td> <%= taskDb[i].due%> </td>
                    <td> <%= taskDb[i].status%> </td>
                    <td> <%= taskDb[i].desc%> </td>
                </tr>
                <%}%>
    </table>


</body>
</html>